# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension (https://stackoverflow.com/a/25592735)  ###


.*
build/
!Makefile
!.gitignore

### Ignore user configs

#dwmblocks
dwmblocks/config/blocks.h

#jeff_dwm
dwm-src/config/autorun.h
dwm-src/config/config.h
dwm-src/config/binds.h