# Ignore these dirs in language detection by github
dwmsrc/resources/* linguist-detectable=false
dwmblocks/resources/* linguist-detectable=false
*.rasi linguist-detectable=false

# Recategorize files as specific languages to cut down on Roff
*.example linguist-language=Shell