#!/bin/sh

# Fix some java apps not liking dwm
export _JAVA_AWT_WM_NONREPARENTING=1
export AWT_TOOLKIT=MToolkit

# Put all your personal configs here, like backgrounds or xrandr config, will run with dwm start

# Example config: 
xrandr --output HDMI-1 --mode 1920x1080
feh --bg-scale /usr/local/share/jeff_dwm/dwmsrc/resources/Green.png


#####################################################
#                                                   #
#   If you choose to edit the filename of this      #
#   file, please make sure to change autorun.h,     #
#   dwm_scripts_install.sh, and Makefile            #
#   uninstall accordingly.                          #
#                                                   #
#####################################################