[Desktop Entry]
Encoding=UTF-8
Name=jdwm
Comment=Jeff's dynamic window manager (dwm) build
Exec=jdwm --first-run
Type=Application
Icon=/usr/share/icons/jdwm/jdwm.png